:root {
  --green: #34a853;
  --yellow: #ffcc00;
  --red: #f36464;
  --light-purple: #eaddff;
  --border-line: #e0e0e0;
  --focused-yellow: #ffcc00;
  --light-yellow: #ffefc0;
  --medium-purple: #d0bcff;
  --dark-purple: #4b387a;
  --light-blue: #d3e3ff;
  --bright-blue: #299dfd;
  --smoke-white: #dbdbdb;
  --btn-disabled: #a8a8a8;
  --btn-disabled-light: #d5d5d5;
  --btn-disabled-text: #7a7a7a;
  --turquoise: rgb(85, 140, 121);
  --dark-grey: #343434;
  --grey-bg-containers: #f4f4f4;
  --items-display-bg: #f7f7f7;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}


@font-face {
  font-family: "handWritten_Bold";
  src:
    url("./fonts/Lemonade Bold.woff2") format("woff2"),
    url("./fonts/Lemonade Bold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-007A;
}

@font-face {
  font-family: "handWritten_Reg";
  src:
    url("./fonts/Lemonade Regular.woff2") format("woff2"),
    url("./fonts/Lemonade Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-007A;
}

@font-face {
  font-family: "handWritten_Thin";
  src:
    url("./fonts/Lemonade Thin.woff2") format("woff2"),
    url("./fonts/Lemonade Thin.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-007A;
}
